Hello and welcome, work hard play hard

In [22]:
import numpy as np
import pandas as pd


#import data from Wharton into a variable 
car_data = pd.read_excel('data_daimler_volkswagen.xlsx', index_col = 5)

#This is what the top of our data file looks like. 
#We got some columns that we do not nead, so the next step will be to clean it up.
car_data.head()

,Global Company Key,Industry Format,Data Format,Level of Consolidation - Company Annual Descriptor,Population Source,Data Date,Assets - Total,Earnings Before Interest,Income Before Extraordinary Items,Revenue - Total,Stockholders Equity - Parent,International Security Identification Number,Company Name,Active/Inactive Status Marker,Current ISO Country Code - Incorporation
Data Year - Fiscal,,,,,,,,,,,,,,,
2000,17828,INDL,HIST_STD,C,I,20001231,199274,17778.0,2465,162384,42409,DE0007100000,DAIMLER AG,A,DEU
2001,17828,INDL,HIST_STD,C,I,20011231,207410,12984.0,-662,152873,39004,DE0007100000,DAIMLER AG,A,DEU
2002,17828,INDL,HIST_STD,C,I,20021231,187327,17655.0,4877,149583,34914,DE0007100000,DAIMLER AG,A,DEU
2003,17828,INDL,HIST_STD,C,I,20031231,178268,15480.0,-418,136437,34481,DE0007100000,DAIMLER AG,A,DEU
2004,17828,INDL,HIST_STD,C,I,20041231,182696,15775.0,2466,142059,33541,DE0007100000,DAIMLER AG,A,DEU

In [23]:
#The number of the columns we do not want is indexed by the numbers in "loop_list"
loop_list = [0,1,2,3,4,5,11,13,14]
for i in car_data.columns[loop_list]:
    del car_data[i]

#We will also change the name of the columns so that the dataframe will be easier to work with. 
#To do this we use a dictionary
car_data = car_data.rename({"Data Year - Fiscal": "Fiscal Year",'Assets - Total': 'Total Assets', 'Earnings Before Interest': 'EBIT', 
                            'Income Before Extraordinary Items': 'Income', 'Revenue - Total': 'Total Revenue', 'Stockholders Equity - Parent': 
                            'Stockholders Equity'}, axis='columns')

#The data now looks like this
car_data.head()

,Total Assets,EBIT,Income,Total Revenue,Stockholders Equity,Company Name
Data Year - Fiscal,,,,,,
2000,199274,17778.0,2465,162384,42409,DAIMLER AG
2001,207410,12984.0,-662,152873,39004,DAIMLER AG
2002,187327,17655.0,4877,149583,34914,DAIMLER AG
2003,178268,15480.0,-418,136437,34481,DAIMLER AG
2004,182696,15775.0,2466,142059,33541,DAIMLER AG

In [33]:
#SIMON WORKS HERE
daimler_data = car_data[0:18]
volkswagen_data = car_data[18:36]
#Now we need to calculate the key preformance measurement. 
#We create new columns for the numbers
daimler_data["EBIT Margin"] = daimler_data["EBIT"]/daimler_data["Total Revenue"]
daimler_data["ROA"] = daimler_data["Income"]/daimler_data["Total Assets"]
daimler_data["ROE"] = daimler_data["Income"]/daimler_data["Stockholders Equity"]
daimler_data

/Users/simon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/simon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/simon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Total Assets,EBIT,Income,Total Revenue,Stockholders Equity,Company Name,EBIT Margin,ROA,ROE
Data Year - Fiscal,,,,,,,,,
2000,199274,17778.0,2465,162384,42409,DAIMLER AG,0.109481,0.012370,0.058124
2001,207410,12984.0,-662,152873,39004,DAIMLER AG,0.084933,-0.003192,-0.016973
2002,187327,17655.0,4877,149583,34914,DAIMLER AG,0.118028,0.026035,0.139686
2003,178268,15480.0,-418,136437,34481,DAIMLER AG,0.113459,-0.002345,-0.012123
2004,182696,15775.0,2466,142059,33541,DAIMLER AG,0.111045,0.013498,0.073522
2005,201632,9713.0,2851,149776,36449,DAIMLER AG,0.064850,0.014140,0.078219
2006,190022,9061.0,3231,151499,34155,DAIMLER AG,0.059809,0.017003,0.094598
2007,135094,15408.0,4849,99399,36718,DAIMLER AG,0.155012,0.035894,0.132061
2008,132219,10761.0,1638,95873,31216,DAIMLER AG,0.112242,0.012389,0.052473
2009,128821,3279.0,-2640,78924,30261,DAIMLER AG,0.041546,-0.020494,-0.087241
2010,135830,9325.0,4498,97761,36373,DAIMLER AG,0.095386,0.033115,0.123663
2011,148132,10840.0,5667,106540,39624,DAIMLER AG,0.101746,0.038256,0.143019
2012,162978,10718.0,6095,114297,43879,DAIMLER AG,0.093773,0.037398,0.138905
2013,168518,10860.0,6842,117982,42680,DAIMLER AG,0.092048,0.040601,0.160309
2014,189635,13048.0,6962,129872,43665,DAIMLER AG,0.100468,0.036713,0.159441
2015,217166,16657.0,8424,149467,53561,DAIMLER AG,0.111443,0.038791,0.157279
2016,242988,16861.0,8526,153261,57950,DAIMLER AG,0.110015,0.035088,0.147127
2017,255605,17332.0,10525,164330,64023,DAIMLER AG,0.105471,0.041177,0.164394

In [32]:
daimler_data

,Total Assets,EBIT,Income,Total Revenue,Stockholders Equity,Company Name
Data Year - Fiscal,,,,,,
2000,199274,17778.0,2465,162384,42409,DAIMLER AG
2001,207410,12984.0,-662,152873,39004,DAIMLER AG
2002,187327,17655.0,4877,149583,34914,DAIMLER AG
2003,178268,15480.0,-418,136437,34481,DAIMLER AG
2004,182696,15775.0,2466,142059,33541,DAIMLER AG
2005,201632,9713.0,2851,149776,36449,DAIMLER AG
2006,190022,9061.0,3231,151499,34155,DAIMLER AG
2007,135094,15408.0,4849,99399,36718,DAIMLER AG
2008,132219,10761.0,1638,95873,31216,DAIMLER AG
2009,128821,3279.0,-2640,78924,30261,DAIMLER AG
2010,135830,9325.0,4498,97761,36373,DAIMLER AG
2011,148132,10840.0,5667,106540,39624,DAIMLER AG
2012,162978,10718.0,6095,114297,43879,DAIMLER AG
2013,168518,10860.0,6842,117982,42680,DAIMLER AG
2014,189635,13048.0,6962,129872,43665,DAIMLER AG
2015,217166,16657.0,8424,149467,53561,DAIMLER AG
2016,242988,16861.0,8526,153261,57950,DAIMLER AG
2017,255605,17332.0,10525,164330,64023,DAIMLER AG

In [ ]:
#TO HERE

In [ ]:
#GUSTAF FROM HERE

In [ ]:
car_data

In [ ]:
#TO HERE

In [ ]:
#LAWRANCE FORM HERE

In [ ]:
#TO HERE

In [ ]:
#CARINA FROM HERE

In [ ]:
#TO HERE